<div class="pAlign">
    <div><span class="pointsRed"><b>100</b></span> PUNTOS ENVIADOS
      30/07/2023</div>
    <p> Bieeen que hemos ganado el premio de no code. Sin tu cerebrito
      esto no habría sido posible. Un abrazo! </p>
    <p> de parte de <b>Madonna Giménez</b></p>
  </div>
  <hr id="hrHistory" />

  <br><br><br><br>
</div>